.about-me-container {
  display: flex;
  background-color: #1a152d; /* Darker background for the section */
  border-radius: 10px;
  padding: 40px;
  align-items: center;
  gap: 40px;
  width: 100%;
  box-sizing: border-box;
}

.profile-image-wrapper {
  flex-shrink: 0;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #6a1b9a; /* Purple border around the image */
}

.about-me-content h2 {
  background-image: linear-gradient(to right, #c440da, #8a2be2); /* Purple gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* Standard property for broader compatibility */
  color: #cf07f3; /* Fallback for browsers that don't support text fill color */
  display: inline-block; /* Ensure it behaves like a block for background properties but respects content width */
  font-size: 2em;
  margin-bottom: 10px;
}

.about-me-content p {
  font-size: 1.1em;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .about-me-container {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .about-me-content {
    text-align: center;
  }
} 