* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: #081b29;
  color: #ededed;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

span {
  color: #00abf0;
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: #00abf0;
  border-radius: 4rem;
  box-shadow: 0 0 1rem #00abf0;
  font-size: 1.6rem;
  color: #081b29;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: none;
}

@media (max-width: 600px) {
  html {
    font-size: 55%;
  }
} 